
  .login_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #000;
    padding-top: 10px;
  }
  
  .login_form  h2{
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:monospace ;
  }
  
  .form-control {
    margin-bottom: 0.5rem;
    width: 80%;
    color: #000;
    background-color: #fff;
    left: 20px;
  }
  
  .error {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  
  label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 4px;
    color: #fff;
  }
  .form{
    display: flex;
    justify-content: center;
  }

  input[type=email] {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    color: #000;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=password] {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    color: #000;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  #user {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    color: #000;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .form-control::placeholder {
    color: #595959;
    font-size: 12px;
  }
  
  .btn-login {
    width: 60%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }

  .btn-signup {
    width: 60%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .btn-login:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
  }

  .btn-signup:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
  }
  
  .register_text {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
  